@if (product){
    <mat-card appearance="raised" class="product-card h-full flex flex-col" routerLink="/shop/{{product.id}}">
       <div class="w-full aspect-square bg-gray-100 overflow-hidden rounded-t-lg flex items-center justify-center">
            <img src="{{product.pictureUrl}}" (error)="$event.target.src='/images/placeholder.png'" alt="image of {{product.name}}" class="w-full h-full object-contain">
        </div>
        <mat-card-content class="mt-2 flex-1">
            <h2 class="text-sm font-semibold uppercase">{{product.name}}</h2>
            <p class="font-light">{{product.price | currency: 'EUR'}}</p>
        </mat-card-content>
        <mat-card-actions class="mt-auto" (click)="$event.stopPropagation()">
            <button mat-stroked-button class="w-full flex items-center justify-center gap-2 whitespace-nowrap" (click)="cartService.addItemToCart(product)">
                <mat-icon>add_shopping_cart</mat-icon>
                Ajouter
            </button>
        </mat-card-actions>
    </mat-card>
}