<header class="shadow-md p-3 w-full max-h-25 fixed top-0 z-50 bg-white">
    <div class="flex align-middle items-center justify-between w-full px-4">
        <img  routerLink="/" src="/images/Logo.png" alt="app logo" class="max-h-24">
        <nav class="flex gap-3 my-2 uppercase text-2xl">
            <a routerLink="/" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
            >Accueil</a>
            <a routerLink="/shop" routerLinkActive="active">Boutique</a>
            <a routerLink="/test-error" routerLinkActive="active">Errors</a>
        </nav>
        <div class="flex gap-3 align-middle">
            <a routerLink="/cart" routerLinkActive="active" matBadge="{{cartService.itemCount()}}" matBadgeSize="large" class="custom-badge mt-2 mr-2">
                <mat-icon>shopping_cart</mat-icon>
            </a>
            <button mat-stroked-button>Login</button>
            <button mat-stroked-button>Register</button>
        </div>
    </div>
</header>

@if(busyService.loading()) {
    <mat-progress-bar mode="indeterminate" class="fixed top-25 z-50"></mat-progress-bar>
}