<header class="shadow-md w-full h-25 fixed top-0 z-50 bg-white">
    <div class="flex items-center justify-between w-full h-full px-4">
        <img  routerLink="/" src="/images/Logo.png" alt="app logo" class="h-full py-1 object-contain">
        <nav class="flex gap-3 my-2 uppercase text-2xl">
            <a routerLink="/" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
            >Accueil</a>
            <a routerLink="/shop" routerLinkActive="active">Boutique</a>
            <a routerLink="/test-error" routerLinkActive="active">Errors</a>
        </nav>
        <div class="flex gap-3 align-middle">
            <a routerLink="/cart" routerLinkActive="active" matBadge="{{cartService.itemCount()}}" matBadgeSize="large" class="custom-badge mt-2 mr-2">
                <mat-icon>shopping_cart</mat-icon>
            </a>
            @if (accountService.currentUser()){
                <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>arrow_drop_down</mat-icon>
                    <span>{{accountService.currentUser()?.email}}</span>
                </button>
            } @else {
                <button routerLink="/account/login" mat-stroked-button>Se connecter</button>
                <button routerLink="/account/register" mat-stroked-button>Créer un compte</button>
            }            
        </div>
    </div>
</header>
<mat-progress-bar mode="indeterminate" class="fixed top-25 z-50"[class.invisible]="!busyService.loading()"></mat-progress-bar>

<mat-menu #menu="matMenu" class="px-5">
    <button mat-menu-item class="px-3" routerLink="/cart">
        <mat-icon>shopping_cart</mat-icon>
        Mon panier
    </button>
    <button mat-menu-item class="px-3" routerLink="/orders">
        <mat-icon>history</mat-icon>
        Mes commandes
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item class="px-3" (click)="logout()">
        <mat-icon>logout</mat-icon>
        Se déconnecter
    </button>
</mat-menu>